.header{
    background-color: #9dadda;
    height: 90px;
}
.main{
    color: #000000;
    height: 100px;
}
.footer{
    background-color: #ffffff;
    height: 100px;
}

.menu a{
    text-decoration: none;
}

.menu a:hover {

    color: red;
}